[Desktop Entry]
Type=Application
Name=Electronic WeChat
Comment=A better WeChat client
Exec=/usr/bin/electronic-wechat
Icon=electronic-wechat
Categories=Network;InstantMessaging;
Terminal=false
StartupNotify=true
